<div class="new-user-container">
  <h1 class="custom-heading">Novo Usuário</h1>

  <%= render "form", user: @user %>

  <% if session[:user_id] %>
    <div class="back-link">
      <%= link_to "🡨 Voltar para Usuários", users_path %>
    </div>
  <% end %>
</div>
