<div style="text-align: center; margin-top: 50px;">
  <h2>Saldo Total</h2>

  <% if @total_balance.present? %>
    <p style="font-size: 24px; color: green;"><%= number_to_currency(@total_balance, unit: "R$", precision: 2) %></p>
  <% else %>
    <p style="font-size: 24px; color: red;">Erro durante o processamento do arquivo. <a href="/">Tentar novamente</a></p>
  <% end %>
</div>
